{% extends 'base.html' %}
{% load socialaccount %}
{% block title %} Favourites {% endblock title %}

{% block body %}
<br>

{% if messages %}
<ul class="messages" style="width: 600px;margin-left:400px">
  {% for message in messages %}
  <div class="alert alert-success">
    <strong>Success!</strong> {{message}}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
</ul>
{% endif %}
<br>
<br>

<center>
  <h3>Favourites</h3>
</center>

<table class="fav-table">
    <thead>
        <tr>
            <th>#</th>
            <th>Song</th>
            <th>Album</th>
            <th>Singer</th>
            <th>Preview</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
{% for fav in liked_songs %}
<tr class="song-row">
    <td>{{ forloop.counter }}</td>

    <!-- SONG IMAGE + NAME -->
    <td class="song-info">
        <img src="{{ fav.song.song_img.url }}" class="cover-img">
        <div class="text">
            <div class="title">{{ fav.song.name }}</div>
            <div class="artist">{{ fav.song.singer }}</div>
        </div>
    </td>

    <td>{{ fav.song.album }}</td>
    <td>{{ fav.song.singer }}</td>

    <!-- Preview -->
    <td>
        <audio controls preload="none">
            <source src="{{ fav.song.song_file.url }}" type="audio/mpeg">
        </audio>
    </td>

</tr>
{% endfor %}

</tbody>

</table>



{% endblock body %}