{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="google-site-verification" content="jfk7kB7nVZyaGC-jAzqr-OmOKUtUWWvpNwUzSJS-cKU" />
    <link rel="icon" type="image/png" href="/media/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>2k-Aakashavaani | {% block title %}{% endblock title %}</title>

    <!-- Bootstrap & icons -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
          crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap"
          rel="stylesheet">

    <!-- Main app CSS -->
    <link href="{% static 'musicapp/css/musicplayer.css' %}" rel="stylesheet">

    {% block header %}{% endblock header %}
</head>
<body>

<div class="ak-app-shell">
    <!-- LEFT SIDEBAR -->
    <aside class="ak-sidebar">
        <div>
            <div class="ak-brand" style="display: flex; justify-content: center; margin-bottom: 28px;">
                <img src="{% static 'musicapp/images/Logo.jpg' %}"
                     style="width: 220px; height: auto;">
            </div>

            <nav class="ak-nav">
                <a href="{% url 'index' %}" class="ak-nav-item">
                    <span class="icon"><i class="fa fa-home"></i></span>
                    <span>Home</span>
                </a>

                <a href="{% url 'index' %}#search" class="ak-nav-item">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <span>Search</span>
                </a>

                <a href="{% url 'all_songs' %}" class="ak-nav-item">
                    <span class="icon"><i class="fa fa-music"></i></span>
                    <span>My library</span>
                </a>

                <hr class="ak-nav-separator">

                <a href="{% url 'playlist' %}" class="ak-nav-item">
                    <span class="icon"><i class="fa fa-plus-circle"></i></span>
                    <span>New playlist</span>
                </a>

                <a href="{% url 'favourite' %}" class="ak-nav-item">
                    <span class="icon"><i class="fa fa-heart"></i></span>
                    <span>Liked songs</span>
                </a>
            </nav>
        </div>

        <!-- Bottom area: settings + login/logout -->
        <div class="ak-sidebar-bottom">
            {% if request.user.is_active %}
                <div class="ak-nav-item">
                    <span class="icon"><i class="fa fa-user"></i></span>
                    <span>Hi, {{ request.user.username }}</span>
                </div>
                <a href="{% url 'logout' %}" class="ak-nav-item">
                    <span class="icon"><i class="fa fa-sign-out"></i></span>
                    <span>Sign out</span>
                </a>
            {% else %}
                <a href="{% url 'login' %}" class="ak-nav-item">
                    <span class="icon"><i class="fa fa-sign-in"></i></span>
                    <span>Sign in</span>
                </a>
                <a href="{% url 'signup' %}" class="ak-nav-item">
                    <span class="icon"><i class="fa fa-user-plus"></i></span>
                    <span>Sign up</span>
                </a>
            {% endif %}
        </div>
    </aside>

    <!-- MAIN CONTENT FROM CHILD TEMPLATES -->
    <main class="ak-main">
        {% block body %}{% endblock body %}
    </main>
</div>  <!-- end .ak-app-shell -->

{% if last_played %}
<div class="content-footer">
  <div class="player">
    <div class="left">
      <img src="{{ last_played.song_img.url }}" height="70" width="70">
    </div>

    <div class="right">
      <div class="top">
        <span class="song">{{ last_played.name }}</span>
        <span class="artist">{{ last_played.album }}</span>
      </div>

      <div class="bottom">
        {% if first_time %}
          <audio controls>
            <source src="{{ last_played.song_file.url }}" type="audio/mpeg">
          </audio>
        {% else %}
          <audio controls autoplay>
            <source src="{{ last_played.song_file.url }}" type="audio/mpeg">
          </audio>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endif %}

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

{% block js %}{% endblock js %}
</body>
</html>
